body {
    font-family: "Merriweather", serif;
     text-align: center;
     font-size: 2rem;
     background-color: #ffffff;
     margin-top: 10%;
     background-image: url($lib/images/palm.webp);
}
.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}
ul {
     margin: 0;
     padding: 0;
     
   }
li {
cursor: pointer;
padding: 12px 8px;
background: lightgray;
font-size: 2rem;
align-content: center;
border-radius: 20px;

}
ul li:hover {
     background: lightpink;
   }
   button {
     font-size: 1.1rem;
     padding: 16px 14px;
     border-radius: 20px;
     border-width: 4px;
     border-color: lightpink;
   }
   #button:active {
    font-size: 10px;
   }
   .header {
     background-color: lightpink;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
   }
   button:hover {
     background-color: #ffffff;
   }
   .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color:lightpink;
     text-align: center;
   } 
   input[type='text'] {
     padding: 16px 14px;
     border-radius: 20px;
     border-width: 4px;
     border-color: lightpink;
   }