body {
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-align: center;
     font-size: 2rem;
     background-color: #ffffff;
     margin-top: 10%;
     background-image: url(palm.webp);
}
ul {
     margin: 0;
     padding: 0;
     
   }
li {
cursor: pointer;
padding: 12px 8px;
background: lightgray;
font-size: 2rem;
align-content: center;

}
ul li:hover {
     background: lightpink;
   }
   button {
     font-size: 1.2rem;
     padding: 8px 4px;
   }
   .header {
     background-color: lightpink;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
   }
   button:hover {
     background-color: #ffffff;
   }
   .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color:lightpink;
     text-align: center;
   } 
   input[type='text'] {
     padding: 8px 4px;
   }